*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}



.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
}

.card{
  background-color: antiquewhite;
}


.card img{
  width: 400px;
  height: 450px;
border: 1em;
border-style: double;
}

 .details{
   

 }